<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="phptravelsTNG.login">
      <methods>
      <include name="loginvalidation"></include>
      <include name="hoteldes"></include>
      <include name="chkinout">
      </include>
      </methods>
      
     
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
